.table-actions
  %button.reset{type: 'button'} Reset filters
  %button.select-columns-btn{type: 'button'} Select Columns
  = download_button
  %input{type: "text", value: 'histones.csv', class: 'csv-filename'}
  .loading_table
    .loading_logo

%table#histones.tablesorter.attach-column-selector
  %thead
    %tr
      = histone_table_header :hgnc_symbol, show_always: true
      = histone_table_header :hgnc_id, hide_by_default: true, dont_sort: true, class: 'hgnc_id'
      = histone_table_header :hgnc_name
      = histone_table_header :gene_id, hide_by_default: true, dont_sort: true, class: 'gene_id'
      = histone_table_header :uniprot_ac, hide_by_default: true, dont_sort: true, class: 'uniprot_ac' do |content|
        = content
        .export_uniprot.has-tooltip{data: {toggle: 'tooltip', placement: 'bottom', title: 'Send the current gene list to Uniprot.'} }
      = histone_table_header :uniprot_id, class: 'uniprot_id' do |content|
        = content
        .export_uniprot.has-tooltip{data: {toggle: 'tooltip', placement: 'bottom', title: 'Send the current gene list to Uniprot.'} }
      = histone_table_header :domain, class: 'pfam_domain'
      = histone_table_header :mgi_symbol, hide_by_default: true
      = histone_table_header :mgi_id, hide_by_default: true, class: 'mgi_id', dont_sort: true
      = histone_table_header :uniprot_ac_mm, hide_by_default: true, dont_sort: true, class: 'uniprot_ac' do |content|
        = content
        .export_uniprot.has-tooltip{data: {toggle: 'tooltip', placement: 'bottom', title: 'Send the current gene list to Uniprot.'} }
      = histone_table_header :uniprot_id_mm, class: 'uniprot_id' do |content|
        = content
        .export_uniprot.has-tooltip{data: {toggle: 'tooltip', placement: 'bottom', title: 'Send the current gene list to Uniprot.'} }
      = histone_table_header :gene_tag, hide_by_default: true, class: ['splitted_terms_filter', 'filter-onlyAvail']
      = histone_table_header :gene_desc, hide_by_default: true, class: ['splitted_terms_filter', 'filter-onlyAvail']
      = histone_table_header :targeted_by_complex, class: ['splitted_terms_filter', 'filter-onlyAvail', 'target_complex'], dont_sort: true
      = histone_table_header :status, hide_by_default: true

  %tbody
    - @histones.each do |histone|
      %tr
        %td{'data-text' => histone.hgnc_symbol }
          = histone.hgnc_symbol
          %br
          = link_to '(details)', histone_path(histone)
        %td= histone.hgnc_id
        %td= histone.hgnc_name
        %td= histone.gene_id
        %td= histone.uniprot_ac
        %td= histone.uniprot_id
        %td= histone.domain
        %td= histone.mgi_symbol
        %td= histone.mgi_id
        %td= histone.uniprot_ac_mm
        %td= histone.uniprot_id_mm
        %td= histone.gene_tag
        %td= histone.gene_desc
        %td= histone.targeted_by_complex
        %td= histone.status
